```
*.class
*.o
*.obj
*.out
target/
.gradle/
**/bin/
**/build/
**/target/
**/*.class
**/node_modules/
**/.venv/
**/venv/
**/__pycache__/
**/.mypy_cache/
**/.pytest_cache/
**/.vscode/
**/.idea/
**/*.swp
**/*.swo
**/*.tmp
**/*.log
**/.env
**/.env.local
**/*.env.*
**/Thumbs.db
**/.DS_Store
**/coverage/
**/htmlcov/
**/.coverage
```